<div id="time-intervals-view" class="content">
  <h1>Time intervals view</h1>
  <div id="time-selector" class="center">
    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile [colspan]="1">
        <mat-form-field id="range-select" appearance="fill">
          <mat-label>Select the time intervals</mat-label>
          <mat-select [formControl]="intervalControl">
            <mat-option [value]="intervalsValues.EVERY_FIVE"> {{ intervals.FIVE_MINS }}</mat-option>
            <mat-option [value]="intervalsValues.EVERY_THIRTY"> {{ this.intervals.THIRTY_MINS }}</mat-option>
            <mat-option [value]="intervalsValues.EVERY_SIXTY"> {{ intervals.ONE_HOUR }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-form-field id="month-select" appearance="fill">
          <mat-label>Month to re-generate the data</mat-label>
          <mat-select [formControl]="monthControl">
            <mat-option *ngFor="let month of months; let i = index" [value]="i"> {{ month }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button color="accent" (click)="generateMockData(true)">re-generate Mockdata</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="accent" (click)="sortMonthData()">test</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <grid-time-interval [headings]="displayedColumns" [dataSource]="dataSource" [intervalValue]="intervalControl.value">
  </grid-time-interval>
 <!-- <mat-accordion multi *ngIf="rowsMonthMockData[selectedMonth]">-->
  <!--<mat-accordion multi>
    <mat-expansion-panel *ngFor="let day of [1,2]">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-title>
          <h4> {{months[selectedMonth]}} - Day # {{day}}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="table-container center">
        <grid-time-interval [headings]="displayedColumns" [dataSource]="dataSource" [intervalValue]="intervalControl.value">
        </grid-time-interval>
&lt;!&ndash;        <intervals-table
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns"
          [intervalValue]="intervalControl.value"
        ></intervals-table>&ndash;&gt;
      </div>
    </mat-expansion-panel>
  </mat-accordion>-->
</div>
