#time-intervals-view {
  h1 {
    text-align: center;
  }

  .table-container {
    border-width: 1px;
    border-style: solid;
    border-color: #eeeeee;
    max-width: 100%;
    overflow: auto;
  }
}

#time-selector {
  display: flex;
  flex-direction: column;
  #range-select {
    position: absolute;
    left: 5px;
  }
  button {
    position: absolute;
    right: 5px;
    top: 22px;
  }
}
