#time-intervals-view {
  h1 {
    text-align: center;
  }

  #filter-container {
    margin: 60px auto;
  }

  .table-container {
    border-width: 1px;
    border-style: solid;
    border-color: #eeeeee;
    max-width: 100%;
    overflow: auto;
  }
}

#time-selector {
  display: flex;
  flex-direction: column;

  #range-select {
    position: absolute;
    left: 5px;
  }
  #month-select {
    position: absolute;
    left: 0;
  }

  button {
    position: absolute;
    right: 0px;
    top: 22px;
  }

  @media (max-width: 900px) {
    #range-select,
    #month-select,
    button {
      position: relative;
      margin: auto;
    }
    button {
      margin-top: 0;
      right: auto;
      top: auto;
    }
  }
}
