#grid-time-interval {
  max-width: 100%;
  max-height: 400px;

  .main-grid-container {
    overflow-x:auto;
    max-height: 400px;
  }
  .inner-grid-container {
    table {
      th, td {
        width: 340px;
        padding: 10px;
      }
    }
    &.five-min {
      width: 75000px;
    }
    &.thirty-min {
      width: 12000px;
    }
    &.sixty-min {
      width: 6000px;
    }
    .heading-row {
      display: inline-flex;
      height: 100px;
    }

  }

  text-align: center;
  th {
    text-align: center;
  }
}
