<table
  mat-table
  id="intervals-table"
  [dataSource]="dataSource"
  [ngClass]="{
        'five-min': isInterval(intervalsValues.EVERY_FIVE),
        'thirty-min': isInterval(intervalsValues.EVERY_THIRTY),
        'sixty-min': isInterval(intervalsValues.EVERY_SIXTY)}"
>
  <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
    <th mat-header-cell *matHeaderCellDef>{{col}}</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <span>{{i}} - {{element[getInnerRowIndex(i)] ? element[rowIndexAc-1][col] : ''}} --- {{rowIndexAc}} ----- {{ element[1][col] }}</span>
      <!--<span>{{element.value}}</span>-->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let indx = index"></tr>
</table>
